
/* --------------------------------- General -------------------------------- */

body {
  overflow: hidden;
  background-color: #20232c;
  margin: 0;
  -ms-overflow-style: none;
  -webkit-text-stroke: 0.45px;
  font-family: 'Space Grotesk';
}

/* remove scrollbar */
body::-webkit-scrollbar {
  display: none;
  width: 0;
}

.content {
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.content.active {
  opacity: 1;
  padding: 0;
  justify-content: space-between;
  background-color: #e1ebf8;
}

/* The white Screen between transition from About Me ---> Work*/
.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

/* Remove */
@font-face {
  font-family: 'Sail';
  src: url(/Sail-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Magilio';
  src: url(/BispoOriginal.otf) format("opentype");
}

@font-face {
  font-family: 'Mati';
  src: url(/Mati-Regular.otf) format("opentype");
}

/* --------------------------------- Loader --------------------------------- */

#loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #436ccb;
  z-index: 10;
  pointer-events: none;
}

#loader #phrases-container {
  z-index: 3;
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150%);
  }
}


/* This is the rounded part */
.rounded-div {
width:150%;
display:block;
position:absolute;
background:#436ccb;
height:100vh;
left:50%;
border-radius:50%;
transform:translate(-50%,0%);
z-index:1
}

/* --------------------------------- Header --------------------------------- */
.header {
  position:fixed;
  top:0;
  left:50%;
  transform:translateX(-50%);
  margin-bottom:30px;
  z-index:9;
  width:100vw;
  padding:10px
  }
  
  #myNavbar.hide {
  top:-100px
  }

  .header input[type="radio"]:checked + label,.header input[type="radio"]:checked + .tab {
    color:#185ee0
    }

  /* ----------------------------- SwithcSections ----------------------------- */
.NavbarHeader {
  --tab-width:100px;
  --tab-height:50px;
  --tab-margin:5px;
  display:flex;
  width:calc(var(--tab-width) * 2);
  height:100%;
  background-color:#fff;
  left:50%;
  transform:translateX(-50%);
  padding:var(--tab-margin);
  border-radius:99px;
  box-shadow:rgba(0,0,0,0.16) 0 8px 32px;
  position:relative;
  will-change:transform;
  transition:transform .3s ease;
  cursor:pointer
  }
  
  
  .tab {
  display:flex;
  align-items:center;
  justify-content:center;
  height:var(--tab-height);
  width:var(--tab-width);
  color:#000;
  font-weight:500;
  border-radius:99px;
  cursor:pointer;
  transition:color .15s ease-in
  }
  
  .header input[type="radio"] {
  display:none
  }
  
  .header input[id="radio-1"]:checked ~ .glider {
  transform:translateY(-50%) translateX(0%)
  }
  
  .header input[id="radio-2"]:checked ~ .glider {
  transform:translateY(-50%) translateX(100%)
  }
  
  .glider {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  height:var(--tab-height);
  width:calc(var(--tab-width) - var(--tab-margin));
  background-color:#185ee074;
  z-index:8;
  border-radius:99px;
  transition:.25s ease-in-out
  }
  
/* -------------------------- Buttons and magnetic -------------------------- */
.BtnHeader {
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction:column;
  width:60px;
  height:60px;
  border:none;
  border-radius:50%;
  cursor:pointer;
  position:absolute;
  transition-duration:.3s;
  margin:none;
  padding:none;
  transition:width .3s ease-in-out,height .3s ease-in-out,border-radius .3s ease-in-out;
  box-shadow:rgba(0,0,0,0.16) 0 8px 32px;
  background-color:#f4f6f7;
  overflow:hidden
  }
  
  /* This is the range of the magnetic effect */
  .OuterMagneticRange {
  top:0;
  width:70px;
  height:70px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%
  }

/* ----------------------------- Settings Button ---------------------------- */
.cardMenu {
width:180px;
height:230px;
color:#000;
display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows:1fr 1fr;
gap:5px;
margin-top:60px
}

.cardMenu .item {
border-radius:20px;
width:100%;
height:100%;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center
}

.item:hover {
transform:scale(0.95);
transition:all .3s
}

.item svg {
width:40px;
height:40px;
margin-bottom:7px
}

.item--1 {
background:#c7c7ff
}

.item--2 {
background:#ffd8be
}

.item--3 {
background:#a9ecbf
}

.item--4 {
background:#f3bbe1
}

.quantity {
font-size:25px;
font-weight:600
}

.text {
font-size:12px;
font-family:inherit;
font-weight:600
}

.text--1 {
color:rgba(149,149,255,1)
}

.text--2 {
color:rgba(252,161,71,1)
}

.text--3 {
color:rgba(66,193,110,1)
}

.text--4 {
color:rgba(220,91,183,1)
}

#MenuButton-icon {
position:absolute;
right:15px;
top:15px;
z-index:1;
background-color:#fff;
border-radius:50%
}

/* ------------------------------ SocialButton ------------------------------ */
.Socialcard {
--font-color:#323232;
--font-color-sub:#666;
--bg-color:#fff;
--main-color:#323232;
width:200px;
height:200px;
background:var(--bg-color);
border-radius:5px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
position:absolute;
top:60px
}

.card-photo {
transform:scale(0.3) translate(220px,230px);
width:250px;
height:250px;
margin-left:-125px;
margin-top:-125px;
border-radius:50%;
transition:.3s
}

.card-title {
text-align:center;
color:var(--font-color);
font:400 20px system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif
}

.card-title span {
font-size:15px;
color:var(--font-color-sub)
}

.card-socials {
display:flex;
height:0;
opacity:0;
margin-top:20px;
gap:20px;
transition:.5s
}

.card-socials-btn {
width:25px;
height:25px;
border:none;
background:transparent;
cursor:pointer
}

.card-socials-btn svg {
width:100%;
height:100%;
fill:var(--main-color)
}

.Socialcard:hover > .card-socials {
opacity:1;
height:35px
}

.card-socials-btn:hover {
transform:translateY(-5px);
transition:all .15s
}

#Social-icon {
position:absolute;
left:15px;
top:15px
}


/* ------------------------------ OtherContent ------------------------------ */
#OtherContent {
position:relative;
width:100%;
background-color:#e1ebf8;
padding:0 15vw
}

#OtherContent * {
font-family:'DM Sans',sans-serif;
letter-spacing:-3%
}

/* the divider label */
.LabelDivisore {
margin-top:6em;
font-size:1.3em;
color:#606060;
width:100%
}

/* actual divider orizzontal line */
.divisore {
background:#D9D9D9;
width:100%;
height:5px;
margin-bottom:6vh
}


/* Smarphone view */
@media (max-width: 768px) {
#OtherContent .LabelDivisore {
margin-top:2em;
font-size:.9em;
margin-bottom:.5em
}

#OtherContent .divisore {
margin-bottom:3vh
}
}

/* ------------------------------ First Section ----------------------------- */
.First {
max-width:1440px;
margin:0 auto
}

.First .row {
padding:0;
display:flex;
align-items:center;
flex-wrap:wrap;
flex-direction:row
}

.First .col-md-6 {
flex:0 0 50%;
max-width:50%;
padding:0 10px;
position:relative
}

.First .col-md-6 h3 {
font-size:4vw;
line-height:.95em;
font-weight:500;
margin-top:.75em;
margin-bottom:.5em
}

.First .col-md-6 p {
font-size:1.5vw;
color:#606060;
font-weight:400
}

.First .col-md-6 span {
max-width:85%;
height:auto;
border-radius:0 10vw 0 10vw;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
object-fit:cover
}

.First .col-md-6 span img {
width:100%;
transform:scale(1.2)
}

/* Smarphone view */

@media (max-width: 768px) {
.First .row {
flex-direction:column
}

.First .col-md-6,.First .col-md-6 span,.First .col-md-6 img {
max-width:95%
}

.First .col-md-6 h3 {
font-size:10vw
}

.First .col-md-6 p {
font-size:4vw
}

.First #colMD6-img {
display:flex;
justify-content:center
}
}

/* ---------------------------- About Me 3 cards ---------------------------- */

.AboutMe .card {
border:none;
text-align:center;
height:100%;
background-color:transparent
}

.AboutMe .card span {
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
aspect-ratio:1/1;
border-radius:5vw 0 5vw 0
}

.AboutMe .card .card-body {
padding:0
}

.AboutMe .card .card-body h3 {
margin-top:1em;
font-weight:500;
text-align:left;
font-size:max(2vw,24px)
}

.AboutMe .card .card-body p {
font-weight:300;
text-align:left;
font-size:max(1vw,18px);
color:#606060
}

/* Smarphone view */
@media (max-width: 768px) {
.AboutMe .card {
display:flex;
flex-direction:column;
margin-bottom:2em
}

.AboutMe .card .card-body h3 {
margin-top:1.5em
}
}

/* ----------------------------------- Cit ---------------------------------- */
.FraseCelebre {
width:100%;
height:40vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
padding:5vh
}

.FraseCelebre h1 {
font-size:max(4vw,40px);
text-align:center
}

.FraseCelebre p {
font-size:max(1.5vw,24px);
text-align:center
}

/* Smarphone view */
@media (max-width: 768px) {
.FraseCelebre {
padding:0;
height:20vh
}

.FraseCelebre h1 {
font-size:6vw
}

.FraseCelebre p {
font-size:2.5vw;
text-align:center
}
}

/* ------------------------------ WelcomeSlider ----------------------------- */
.WelcomeSlider {
height:100vh;
width:100%;
background-color:red
}

/* ----------------------------- WorksFirstPart ----------------------------- */
.IntroWorks {
background-color:red;
width:100vw;
height:100vh
}

/* ---------------------------- OtherContentWork ---------------------------- */
.OtherContentWork {
position:relative;
width:100%;
background-color:#e1ebf8;
padding:0 15vw
}

.OtherContentWork * {
font-family:'DM Sans',sans-serif;
letter-spacing:-3%
}


/* ------------------------- SimpleLightbox General ------------------------- */

/* close button and arrow */
.sl-wrapper > .sl-navigation > button,.sl-wrapper > .sl-close {
  color:#fff;
  padding:0 3.5vw
  }
  
  /* background of full page visualization */
  .sl-overlay {
  background-color:#20232c
  }
  
  /* caption ---> you must have to add an alt attribute to <img> to see caption */
  .sl-wrapper > .sl-image > .sl-caption {
  text-align:center;
  color:#fff;
  background-color:red;
  padding:5px
  }

  /* dezoom on hover */
  .zoomItem > a:hover > img,
  .zoomItemSketch > a:hover > img,
  .zoomItemCartoon > a:hover > img {
  transform:scale(0.95)
  }

  /*let the image cover the full grdi section */
  .zoomItem > a > img,
  .zoomItemSketch > a > img, /* has a variaition look below*/
  .zoomItemCartoon > a > img {
  width:100%;
  display:inline-block;
  transition:transform .25s ease
  }

  
/* ------------------------------ AnimationGrid ----------------------------- */
.AnimationGrid * {
border:solid
}

.AnimationGrid {
display:grid;
width:100%;
aspect-ratio:3/2;
grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap:1vw 1vw;
grid-auto-flow:row;
grid-template-areas:"Video Video Video Video Video Video Video Text Text Text Text Text" "Video Video Video Video Video Video Video Text Text Text Text Text" "Video Video Video Video Video Video Video Text Text Text Text Text" "Video Video Video Video Video Video Video Text Text Text Text Text" "First-Frame First-Frame First-Frame First-Frame Second-Frame Second-Frame Second-Frame Second-Frame Third-Frame Third-Frame Third-Frame Third-Frame" "First-Frame First-Frame First-Frame First-Frame Second-Frame Second-Frame Second-Frame Second-Frame Third-Frame Third-Frame Third-Frame Third-Frame" "First-Frame First-Frame First-Frame First-Frame Second-Frame Second-Frame Second-Frame Second-Frame Third-Frame Third-Frame Third-Frame Third-Frame" "First-Frame First-Frame First-Frame First-Frame Second-Frame Second-Frame Second-Frame Second-Frame Third-Frame Third-Frame Third-Frame Third-Frame"
}

.First-Frame {
grid-area:First-Frame
}

.Second-Frame {
grid-area:Second-Frame
}

.Third-Frame {
grid-area:Third-Frame
}

.Video {
grid-area:Video
}

.Text {
grid-area:Text
}


/* ------------------------------- ComicsGrid ------------------------------- */
.ComicsGrid {
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows:1fr 1fr;
grid-auto-columns:1fr;
gap:1vw 1vw;
grid-auto-flow:row;
grid-template-areas:"FirstPage FirstPage SecondPage SecondPage" "ThirdPage ThirdPage ForthPage ComicsText"
}

.FirstPage {
grid-area:FirstPage
}

.SecondPage {
grid-area:SecondPage
}

.ThirdPage {
grid-area:ThirdPage
}

.ForthPage {
grid-area:ForthPage
}

.ComicsText {
grid-area:ComicsText
}

.comicsPages {
box-sizing:border-box;
display:flex
}

/* ------------------------------- CartoonGrid ------------------------------ */
.CartoonGrid {
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows:1fr 1fr;
grid-auto-columns:1fr;
gap:1vw 1vw;
grid-auto-flow:row;
grid-template-areas:"FirstCartoon SecondCartoon ThirdCartoon" "ForthCartoon FifthCartoon SixthCartoon"
}

.FirstCartoon {
grid-area:FirstCartoon
}

.SecondCartoon {
grid-area:SecondCartoon
}

.ThirdCartoon {
grid-area:ThirdCartoon
}

.ForthCartoon {
grid-area:ForthCartoon
}

.FifthCartoon {
grid-area:FifthCartoon
}

.SixthCartoon {
grid-area:SixthCartoon
}

.SketchGrid {
display:grid;
margin-bottom:6vw;
aspect-ratio:5/3;
grid-template-columns:1fr 1.25fr 0.8fr;
grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-auto-columns:1fr;
gap:1vw 1vw;
grid-auto-flow:row;
grid-template-areas:"FirstSketch SecondSketch ThirdSketch" "FirstSketch SecondSketch ThirdSketch" "FirstSketch SecondSketch ThirdSketch" "FirstSketch SecondSketch ThirdSketch" "FirstSketch SecondSketch ThirdSketch" "FirstSketch FifthSketch ThirdSketch" "FirstSketch FifthSketch SixthSketch" "ForthSketch FifthSketch SixthSketch" "ForthSketch FifthSketch SixthSketch" "ForthSketch FifthSketch SixthSketch" "ForthSketch FifthSketch SixthSketch"
}

.FirstSketch {
grid-area:FirstSketch
}

.SecondSketch {
grid-area:SecondSketch
}

.ThirdSketch {
grid-area:ThirdSketch
}

.ForthSketch {
grid-area:ForthSketch
}

.FifthSketch {
grid-area:FifthSketch
}

.SixthSketch {
grid-area:SixthSketch
}

.SketchGrid > div {
overflow:hidden
}

/* Variation from default */
.zoomItemSketch {
width:100%;
height:100%
}

.zoomItemSketch a img {
height:100%;
width:100%;
object-fit:cover
}

.comicsPages img,.CartoonGrid div img {
width:100%;
height:auto;
object-fit:cover
}